a {
    text-decoration: none;
}

nav {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    align-items: center;
    color: var(--primary_color);
}

.nav-itens {
    list-style: none;
    display: flex;
}
.nav-itens>li>a {
  padding-left: 20px;
  color: var(--primary_color);
  text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
}

span {
    color: var(--orange_color);
}

.logo img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 7px;
}
.logo h1{
    font-weight: 800;
    font-size: 25px;
}
.logo:hover {
  cursor: pointer;
}


.logar {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: var(--orange_color);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: .3s background;
    opacity: .9;
}
.logar:hover {
    opacity: 1;
    background-color: var(--orange_color);
    transition: 1s background;
}
