
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --primary_color: #202020;
  --secundary_color: #495057;
}

a {
    text-decoration: none;
}

nav {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    align-items: center;
    color: var(--primary_color);
}

.nav-itens {
    list-style: none;
    display: flex;
}
.nav-itens>li>a {
  padding-left: 20px;
  color: var(--primary_color);
  text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 7px;
}
.logo h1{
    font-weight: 800;
    font-size: 25px;
}
.logo:hover {
  cursor: pointer;
}


.logar {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: var(--primary_color);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 1s background;
}
.logar:hover {
    background-color: #3d3d3d;
    transition: 1s background;
}
