a {
    text-decoration: none;
}

.container-inicio {
  display: flex;
  align-items: center;
}

input[type='file'] {
  display: none;
}

#imgPhoto {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border: 3px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background .3s;
}

#imgPhoto:hover{
  background-color: rgb(180, 180, 180);
  border: 3px solid #111;
}

.container_plano {
  display: flex;
}
.img {
  cursor: help;
  display: flex;
  margin: auto;
  width: 600px;
  /* border: solid 1px #000; */
}
.img img {
  /* filter: saturate(10); */
  width: 60%; 
  margin-left: 50%;
  transform: translateX(-50%);
}
.plano {
  text-align: center;
  margin-left: 5%;
  width: 50%;
}
.plano span {
  color: var(--principal_color);
}
.balao {
  margin-left: 3%;
  padding: 20px;
  /* border-radius: 30px; */
  margin-top: 5px;
  width: 95%;
  display: flex;
  align-items: center;
  /* border: solid 2px var(--primary_color); */
}
.balao h1 {
  color: var(--principal_color);
  margin-left: 5%;
}
.balao p {
  font-weight: bold;
  /* margin: auto; */
  font-size: 20px;
}
#hr {
  width: 80rem;
  margin-left: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
  border: solid 1px var(--principal_color);
  border-radius: 30px;
  transform: translateX(-50%);
}

.container_programa {
  margin-top: 5%;
  width: 100%;
  /* background: linear-gradient(#000, #525252, #696969, #929292, #aaaaaa, #fff); */
}
.programa_titulo {
  text-align: center;
}
.container_programa .programa_titulo h1 {
  color: #000000;
  padding-top: 5%; 
  font-size: 40px;
}
.programa_subtitulo {
  margin: auto;
  width: 50%;
  color: #000000;
  text-align: center;
}
.programa {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 50%;
  width: 80%;
  display: flex;
  /* border: solid 1px #000; */
  transform: translateX(-50%);
}
.programa_elementos img {
  width: 120px;
  margin-top: -25%;
  margin-left: 50%;
  transform: translateX(-50%);
}
.programa_elementos {
  width: 25%;
  height: 25rem;
  padding: 15px;
  border: solid 1px var(--principal_color);
  border-radius: 40px;
  margin: auto;
}
.programa_elementos h1 {
  color: var(--primary_color);
  text-align: center;
  font-size: 20px;
}
.programa_elementos p {
  margin-top: 5px;
  font-size: 15px;
  text-align: center;
}
#programa_btn {
  margin-left: 50%;
  padding: 15px;
  border: 1px solid var(--primary_color);
  border-radius: 30px;
  background: transparent;
  font-size: 20px;
  transform: translateX(-50%);
  position: relative;
  overflow: hidden;
  z-index: 1;
  opacity: .8;
}

#programa_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, transparent, transparent, transparent, var(--principal_color), transparent);
  background-size: 200% 100%;
  background-position: 0;
  transition: background 1s;
  border-radius: inherit;
  z-index: -1;
}

#programa_btn:hover::before {
  background-position: 200%;
}
#programa_btn:hover {
  opacity: 1;
  border-color: var(--principal_color);
  cursor: pointer;
}

.container_feedback {
  text-align: center;
  padding: 30px;
  padding-bottom: 100px;
  width: 95%;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 50%;
  border-top: solid 1px var(--principal_color);
  border-bottom: solid 1px var(--principal_color);
  border-radius: 20px;
  transform: translateX(-50%);
}
.container_feedback h2 {
  padding-top: 50px;
  width: 80%;
  line-height: 110%;
  font-size: 38px;
  margin-left: 50%;
  text-align: center;
  color: #000;
  transform: translateX(-50%);
}

.feedback {
  flex-wrap: wrap;
  gap: 15px;
  display: flex;
  margin-top: 50px;
}
.feedback_elemento {
  overflow: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 0 20px;
  margin: auto;
  border: solid 1px #000;
  border-radius: 5px;
  min-width: 350px;
  max-height: 300px;
}
.feedback_elemento::-webkit-scrollbar {
  width: 8px;
}

.feedback_elemento::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: var(--primary_color); /* Cor do polegar da barra de rolagem */
}

.bgUser {
  width: 300px;
  position: fixed;
  /* border: solid 1px; */
  background-color: #fff;
}
.feedback_user {
  margin-top: 5px;
  display: flex;
  padding: 5px;
}
.feedback_elemento img {
  width: 30px;
  border-radius: 50px;
}
.feedback_elemento h3 {
  font-size: 15px;
  margin-left: 5px;
  margin-top: 5px;
}
.feedback_elemento p {
  margin-top: 50px;
  margin-left: 20px;
  padding: 15px;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 17px;
  width: 255px;
}
#stars {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100px;
}

#feedback_btn {
  margin-top: 50px;
  margin-left: 13rem;
  padding: 15px;
  border: 1px solid var(--primary_color);
  border-radius: 30px;
  background: transparent;
  font-size: 20px;
  transform: translateX(-50%);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#feedback_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, transparent, transparent, transparent, var(--principal_color), transparent);
  background-size: 200% 100%;
  background-position: 0;
  transition: background 1s;
  border-radius: inherit;
  z-index: -1;
}

#feedback_btn:hover::before {
  background-position: 200%;
}
#feedback_btn:hover {
  border-color: var(--principal_color);
  cursor: pointer;
}

