.containerDieta {
  margin: 50px auto;
  width: 60rem;
  border: solid 1px #000;
}

.dieta {
  margin: 50px auto;
  width: 500px;
}
.elementosDieta h1{
  text-align: center;
}
.elementosDieta hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
li {
  color: var(--primary_color);
}
.alimentos {
  color: #000;
  font-weight: 500;
}
.medidas {
  color: #000;
  font-weight: 600;
}