.containerDieta {
  margin: 50px auto;
  border: solid 1px #000;
}

.dieta {
  margin: 50px auto;
  width: 500px;
}
.elementosDieta {
  text-align: center;
}
.elementosDieta hr {
  margin-top: 30px;
  margin-bottom: 30px;
}